<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp generator</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .image,
        .paragraph {
            text-align: center;
        }

        .heading {
            font-family: Work Sans;
            text-align: center;
            color: #333333;
        }

        .button button {
            background-color: #F7B348;
            border-radius: 50px;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .button button a {
            text-decoration: none;
            color: white;
        }

        .paragraph {

            font-family: Work Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            color: #666666;


        }

        .fparagraph {
            font-size: 12px;
            color: #999999;
            ;
        }
    </style>
</head>

<body>
    <div class="image">
        <img src="/images/Artboard 1.png" alt="">
    </div>

    <div class="heading">
        <h1>Welcome to Admitkard</h1>
    </div>

    <div class="paragraph">
        <p>In order to provide you with <br> a great custom experience <br> we need to ask you some questions</p>
    </div>

    <div class="button">
        <button><a href="#">Get Started</a>
    </div>
    <div class="fparagraph">This will take 5 min</div>
</body>

</html>